.DS_Store

**/__pycache__

mnist/venv
mnist/data/*
mnist_model.pth

sprites/dataset/test
sprites/dataset/train
sprites/dataset/shadowless_random
sprites/dataset/shadowless_template
sprites/runs

sprites/venv